
<p class="fancy col-12"><span>About Me</span></p>

<div class="container">
  <div class="row justify-content-center">
    <div class="text mt-3">
      <p>My name is Jon Ablondi, currently doing a course in coding. My name is Jon Ablondi, currently doing a course in coding. My name is Jon Ablondi, currently doing a course in coding. My name is Jon Ablondi, currently doing a course in coding. My name is Jon Ablondi, currently doing a course in coding. </p>
    </div>
  </div>
</div>
