
<p class="fancy col-12"><span>About Me</span></p>

<div class="container">
  <div class="row justify-content-center">
    <div class="text mt-3">
      <p>My name is Jon Ablondi, I like making things both physically and electronically. This site explores both realms. My name is Jon Ablondi, I like making things both physically and electronically. This site explores both realms. My name is Jon Ablondi, I like making things both physically and electronically. This site explores both realms.</p>
    </div>
  </div>
</div>
