<p class="fancy mt-5 col-12"><span>Coding</span></p>

<div class="container">
  <div class="row row-projects justify-content-center">
    <div class="moon col-12 col-md-3">
      <a href="/project1"><img class="projects" src="/moon.jpg" alt="project 1"><p>Project 1</p></a>
    </div>
    <div class="moon col-12 col-md-3">
      <a href="/project2"><img class="projects" src="/moon.jpg" alt="project 2"><p>Project 2</p></a>
    </div>
    <div class="moon col-12 col-md-3">
      <a href="#"><img class="projects" src="/moon.jpg" alt="project 3"><p>Project 3</p></a>
    </div>
    <div class="moon col-12 col-md-3">
      <a href="#"><img class="projects" src="/moon.jpg" alt="project 4"><p>Project 4</p></a>
    </div>
  </div>

</div>
