
<p class="fancy mt-5 col-12"><span>Craft</span></p>

<div class="container mt-2 mb-5">
  <div class="row col-12 align-items-center ml-1">
    <div class="card col-6 col-md-3">

      <button class="btn btn-primary" data-toggle="modal"
      data-target=".bd-bird-modal-lg">
        <!-- Thumbnail image to click on -->
        <img class="card-img-top" src="/WireBird.jpg" alt="Wire Bird">
      </button>

      <!-- Modal code -->
      <div class="modal fade bd-bird-modal-lg  align-items-center" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content modal-contenth">
            <div class="col-5">
              <img class="thumbnailh" src="/WireBird.jpg" alt="Wire Bird">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card col-6 col-md-3">

      <button class="btn btn-primary" data-toggle="modal" data-target=".bd-board-modal-lg">
        <!-- Thumbnail image to click on -->
        <img class="card-img-top" src="/ChoppingBoard.JPG" alt="Chopping Board">
      </button>

      <!-- Modal code -->
      <div class="modal fade bd-board-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content modal-contenth">
            <div class="col-5">
              <img class="thumbnailh" src="/ChoppingBoard.JPG" alt="Chopping Board">
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="card col-6 col-md-3">

      <button class="btn btn-primary" data-toggle="modal" data-target=".bd-concrete-modal-lg">
        <!-- Thumbnail image to click on -->
        <img class="card-img-top" src="/ConcretePots.JPG" alt="Concrete Pots">
      </button>

      <!-- Modal code -->
      <div class="modal fade bd-concrete-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content modal-contenth">
            <div class="col-5">
              <img class="thumbnailh" src="/ConcretePots.JPG" alt="Concrete Pots">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card col-6 col-md-3">

      <button class="btn btn-primary" data-toggle="modal"
      data-target=".bd-jewellery-modal-lg">
      <!-- Thumbnail image to click on -->
        <img class="card-img-top" src="/JewelleryBox.jpg" alt="Jewel
        lery Box">
      </button>

      <!-- Modal code -->
      <div class="modal fade bd-jewellery-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content modal-contenth">
            <div class="col-5">
              <img class="thumbnailh" src="/JewelleryBox.jpg" alt="Jewellery Box">
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="row col-12 mt-3 align-items-center justify-content-center ml-1">
    <div class="card col-6 col-md-3">
      <button class="btn btn-primary" data-toggle="modal"
      data-target=".bd-leobook-modal-lg">
        <!-- Thumbnail image to click on -->
        <img class="card-img-top" src="/BookArt1.jpg" alt="Leo bookfold">
      </button>

      <!-- Modal code -->
      <div class="modal fade bd-leobook-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content modal-contentv">
            <div class="col-3">
              <img class="thumbnailv" src="/BookArt1.jpg" alt="Leo bookfold">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card col-6 col-md-3">

      <button class="btn btn-primary" data-toggle="modal"
      data-target=".bd-ruler-modal-lg">
        <!-- Thumbnail image to click on -->
        <img class="card-img-top" src="/Ruler.jpg" alt="Growth Ruler">
      </button>

      <!-- Modal code -->
      <div class="modal fade bd-ruler-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content modal-contentv">
            <div class="col-3">
              <img class="thumbnailv" src="/Ruler.jpg" alt="Growth Ruler">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card col-6 col-md-3">

      <button class="btn btn-primary" data-toggle="modal" data-target=".bd-dylanbook-modal-lg">
        <!-- Thumbnail image to click on -->
        <img class="card-img-top" src="/BookArt2.jpg" alt="Dylan bookfold">
      </button>

      <!-- Modal code -->
      <div class="modal fade bd-dylanbook-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content modal-contentv">
            <div class="col-3">
              <img class="thumbnailv" src="/BookArt2.jpg" alt="Dylan bookfold">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
