
<p class="fancy mt-4 col-12"><span>Craft</span></p>

<div class="container">
  <div class="row col-12">
    <div class="card col-2">
      <button class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg"><img class="card-img-top" src="/BookArt1.jpg" alt="Leo bookfold"></button>
      <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="row modal-content">
            <div class="col-4">
              <img class="thumbnail" src="/BookArt1.jpg" alt="Leo bookfold">
            </div>
            <div class="col-6 modal-text">
              <h4>Leo Bookfold</h4>
              <br>
              <h5>Medium: Paper</h5>
              <br>
              <h5>Book fold done for my nephew</h5>
            </div>
          </div>
        </div>
      </div>
    </div>





    <div class="card col-2">
      <img class="card-img-top" src="/BookArt2.jpg" alt="Dylan bookfold">
    </div>
    <div class="card col-2">
      <img class="card-img-top" src="/ChoppingBoard.jpg" alt="Chopping Board">
    </div>
    <div class="card col-2">
      <img class="card-img-top" src="/ConcretePots.jpg" alt="Concrete Pots">
    </div>
  </div>

</div>

<!-- <button class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large modal</button>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      ...
    </div>
  </div>
</div> -->
