<p class="fancy mt-4 col-12"><span>Portfolio</span></p>

<div class="container">
  <div class="row row-projects justify-content-center">
    <a href="#"></a><img class="projects col-7 col-md-3" src="/moon.jpg" alt="project 1"></a>
    <a href="#"></a><img class="projects col-7 col-md-3" src="/moon.jpg" alt="project 1"></a>
    <a href="#"></a><img class="projects col-7 col-md-3" src="/moon.jpg" alt="project 1"></a>
    <a href="#"></a><img class="projects col-7 col-md-3" src="/moon.jpg" alt="project 1"></a>
  </div>

</div>
