// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron {
  background-image: url("/mountainDrawing.png");
  background-color:transparent !important;
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 400px;
  width: 100%;
}

.name {
  font-size: 4rem;
  font-weight: 300;
  line-height: 1.1;
  margin: 50px 45px;
}

p {
  font-family: 'Rambla', sans-serif;
  font-weight: bold;
  color: black;
}

.fancy {
  line-height: 0.5;
  text-align: center;
}
.fancy span {
  display: inline-block;
  position: relative;
}
.fancy span:before,
.fancy span:after {
  content: "";
  position: absolute;
  border-bottom: 2px solid black;
  top: 4px;
  width: 100%;
}
.fancy span:before {
  right: 100%;
  margin-right: 15px;
}
.fancy span:after {
  left: 100%;
  margin-left: 15px;
}
.text p {
  font-weight: normal;
}
